.eventList{
    text-align: left;
    padding-top:50px;
    padding-left: 5px;
}
.eventName{
    padding:5px;
    font-size: x-large;
}
.eventHeading{
    padding-left:30px;
    text-decoration: underline;
    text-align: center;
}
.eventLink{
    text-decoration: none;
}
