.rowss{
        padding: 50px 28px 81px 55px;
        font-family: 'Calibri';
        font-size: 30px;
}

@media screen and (max-width: 540px) {
    .rowss{
    font-size: 15px;
    margin-left: -10%;
    }
    .roww{
      margin-bottom: -5%;
      margin-top: -5%;
      margin-left: 0%;
    }
    .h33{
      font-size: 25px;
    }
}

@media screen and (max-width: 850px) {
    .rowss{
    font-size: 25px;
  }
}
