
.resources-page{
    margin-top: 55px;
}

.about-page{
    padding: 40px 0;
    margin: 0 auto;
    max-width: 560px;
    border:none;
    text-align: center;
}

.about-page > .card-title{
    font-weight: bold;
}

.about{
    margin-top: 35px;
}