.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 5% !important;
  margin-bottom: 3% !important;
}

.carousel .slide {
  background: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

.carousel .slide img {
  width: 1000px !important;
  height: 700px;
  border-radius: 1%;
  margin-top: 40px;
}

.myCarousel {

  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 19%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 386px;
}
.myCarousel1 {
  /* background: #fafafa; */
  margin-top: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  /* padding-bottom: 1%; */
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  /* border: 1px solid #ddd; */
  height: 686px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: var(--text-color);
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: var(--text-color);
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 27px;
  color: var(--text-color);
  font-size: 15px;
  font-family: 'Roboto';
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: var(--text-color);
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: var(--text-color);
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel-item {
    margin-top: 35px;
    /* display: flex;
    justify-content: center; */
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .myCarousel1 {
    /* background: #fafafa; */
    margin-top: 6%;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    /* padding-top:2%; */
    /* padding-bottom: %; */
    padding-left: 2%;
    padding-right: 2%;
    /* border: 1px solid #ddd; */
    height: 569px;
  }

  .carousel .slide img {
    width: 100% !important;
    border-radius: 1%;
    padding: 20px;
  }
}

.slide {
  width: 90%;
  height: 90%;
  margin-top: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-item {
  margin-top: 35px;
}

@media only screen and (max-width: 540px) {
  .myCarousel {
    margin-bottom: 10%;
  }
  .myCarousel p {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Roboto';
  }
  .myCarousel h3 {
    margin-top: 2%;
  }
}
