.mycard {
    /* max-width: 800px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%; */
    height: 18rem;
}

/* .mycard-inner {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
} */

.teams-name{
    text-align: center;
}


@media screen and (max-width:400px) {
    .teams-name img{
       
        width: 50px;
    }
    .main-time-div{
        font-size: 10px;
    }
    .has{
        font-size: 10px !important;
    }
}

@media screen and (max-width:800px) {
    .teams-name img{
       
        width: 50px;
    }
    .main-time-div{
        font-size: 15px !important;
    }
    .has{
        font-size: 15px !important;
    }
}

.main-time-div {
    min-width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: stretch;
    text-align: center;
}

.time-box {
    justify-self: center;
    text-align: center;
    border:1px solid black;
    border-radius: 25px;
    padding: 2px;
}

