.content {
  text-align: left;
  padding: 100px;
}

.containerss {
  text-align: left;
  /*Added margin-bottom to add spacing*/
  margin-bottom: 15px;
}

@media only screen and (max-width: 934px){
.content{
  padding: 40px;
}
}