#darkMode{
    background: transparent url(./images/moon.png) no-repeat center;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    filter: grayscale(200%); 
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
    filter: none;
    background-color: black;
    cursor: pointer
}
#darkMode.clicked {
    filter: none !important;
    background-color: black;
}