.page-title{
    margin-top: 8rem;
    margin-bottom: 30px;
}

.content-box{
    margin-top: 30px;
    margin-bottom: 50px;
}

.scholarship-detail{
    font-size: x-small;
}

.card-img-overlay{
    background-color: rgba(255, 192, 203, 0.8);
    height: auto;
}

.content-box .col-md-8{
    margin: auto;
}
/*
.card {
    width: auto;
    height: 200px;
    position:relative;
  }

  .card-body{
      background-color: rgba(255, 192, 203, 0.8);
    position: absolute;
    top: 50%;
  }

.card img {
    position:absolute;
    }*/