
.background-image {
    background-image: url("../../images/others/woman-and-pc.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    height: 577px;
    width: 100%;
    padding: 15px 30px;
    margin-top: 15px;
}

.grey-block {
    top: 15px;
    left: 30px;
    width: 480px;
     height: 150px;
    /* max-width: 550px; */
    background: rgba(196, 196, 196, 0.6);
}

@media (max-width: 900px){
    .grey-block  {
        width: 350px;
        height: 190px;
    }
    .grey-block__heading{
        font-size: 20px;
    }
    .grey-block__text {
        font-size: 15px;

    }
    
.background-image {
    height: 377px;
    width: 100%;
    padding: 15px 30px;
    margin-top: 15px;
}
}

@media (max-width: 600px){
    .grey-block  {
        width: 230px;
        height: 170px;
    }
    .grey-block__heading{
        font-size: 15px;
        /* line-height: 20px; */

    }
    .grey-block__text {
        font-size: 10px;

    }
}

@media (max-width: 400px){
    .grey-block  {
        width: 180px;
        height: 160px;
    }
    .grey-block__heading{
        font-size: 15px;
        /* line-height: 10px; */

    }
    .grey-block__text {
        font-size: 10px;

    }
}

.grey-block__heading {
    font-style: normal;
    font-weight: normal;
    font-size: '35px';
    line-height: 47px;

    color: #000000;
}

.grey-block__text {
    font-style: normal;
    font-weight: normal;
    font-size: '25px';
    line-height: 35px;

    color: #000000;
}
