.App {
  font-family: sans-serif;
  text-align: center;
}
.foot {
  height: 200px;
  width: 1520px;
  background-color: #eeeeee;
}

.text {
  position: relative;
  top: 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.social {
  padding: 0 60px 0 60px;
}

.nav {
  position: relative;
  bottom: 50px;
  text-align: right;
}

.content {
  position: relative;
  bottom: 30px;
  text-align: justify;
}
