* {
    margin: 0;
    padding: 0;
  }
  
  .jumbo {
    display: flex;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .roww {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .columnn {
    display: flex;
  }
  
  .icon-icon {
    font-size: 50px;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  
  .wrapper1 {
    width: 100%;
    justify-content: space-evenly;
  }
  
  .cardd1 {
    background-color: #fff;
    height: 350px;
    width: 270px;
    padding: 3rem 1rem;
    /* padding-top: 0em;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em; */
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  
  .cardd1:hover {
    transform: translateY(20px);
    background: linear-gradient(to bottom, #e9e9e9,  #FFCC66);
    transition: 0.5s all;
  }
  
  .cardd1:hover:before {
    opacity: 1;
  }
  
  .cardd1 .card-info1 {
    position: relative;
    z-index: 3;
    color: black;
    opacity: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3px;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  
  .cardd1:hover .card-info1 {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .cardd1 .card-info1 p h3 {
    padding-top: 3px;
    padding-left: 5px;
  }
  
  .cardd1 .card-info1 p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 7px;
    padding-left: 4px;
  }
  
  @media screen and (max-width: 508px) {
    .cardd1 {
      margin-left: 60px;
    }
    .wrapper1 {
      display: grid;
      grid-template-columns: 1fr;
    }
    .roww {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .wrapper1 {
      display: grid;
      grid-template-columns: 1fr;
    }
    .roww {
      display: flex;
      flex-direction: column;
    }
    .container {
      width: 100%;
    }
    .cardd1 {
      margin: 50px auto;
    }
    .cont-div {
      margin-left: 20px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1240px) {
    .roww {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .container {
      width: 95%;
    }
    .columnn {
      width: auto;
    }
    .wrapper1 {
      margin: 50px auto;
    }
  }
  
  .cardd1 h3 {
    text-align: center;
  }
  
  .h33 {
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
  }
  