.BeginnersLinks__text {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2rem auto;
}

.BeginnersLinks__links {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.BeginnersLinks__github-link, .BeginnersLinks__github-link:hover {
  width: 10rem;
  height: 4rem;
  margin: .2rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .2rem;
  border-radius: 6px;
  background: #111;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.BeginnersLinks__open-source-link, .BeginnersLinks__open-source-link:hover {
  width: 10rem;
  height: 4rem;
  padding: .2rem;
  margin: .2rem;
  border-radius: 6px;
  background: #111;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.BeginnersLinks__pull-request-link, .BeginnersLinks__pull-request-link:hover {
  width: 10rem;
  height: 4rem;
  padding: .2rem;
  margin: .2rem;
  border-radius: 6px;
  background: #111;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}