.card-block {
  width: 200px;
  height: 250px;
  position: relative;
  margin: 0 auto;
 
}

.card-block--big {
  width: 600px;
  height: 600px;
}

.card-block__img {
  height: 200px;
  width: initial !important; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.card-block__img--big {
  width: 600px;
}

.card-block__body {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2px;
  background-color: #ffcc66;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
}

.card-block__body:hover {
  background-color: grey;
}

@media (max-width: 576px) {
  .card-block {
    width: 190px;
    height: 200px;
  }

  .card-block__img {
    width: 190px;
    height: 160px;
    margin:auto;
    margin-bottom:50px;
  }

  .card-block__body {
    top: 90%;
    border: 0px;
    padding: 0px 12px;
  }
}

.card-block__title {
  font-size: 1rem;
}

.card-block__title:hover {
  color: white;
}

.card-block__desc {
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
